[submodule "src/yolov8_ros"]
	path = src/yolov8_ros
	url = https://github.com/hoenigpeter/yolov8_ros.git
[submodule "src/gdrnpp_bop2022"]
	path = src/gdrnpp_bop2022
	url = https://github.com/hoenigpeter/gdrnpp_bop2022.git
[submodule "src/pointing_gesture_recognition"]
	path = src/pointing_gesture_recognition
	url = https://github.com/v4r-tuwien/pointing_gesture_recognition.git
[submodule "src/motion_public"]
	path = src/motion_public
	url = git@github.com:ichores-research/motion_public.git
